.Cart-item {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #a3a3a3;
  padding: 20px 0;
  margin-right: 40px;

  img {
    width: 90px;
  }
  span {
    font-size: 16px;
  }
  .item-price {
    font-size: 20px;
    margin: 0 24px;
  }

  .item-info {
    display: flex;
    flex-direction: column;

    .item-options {
      display: flex;
      p {
        font-size: 14px;
        margin: 0 8px 0 0;
      }
      .color {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }
  }
  .amount-selector {
    display: flex;
    align-items: center;
    margin: 0 4px;
    p {
      font-size: 16;
      padding: 8px 16px;
      margin: 0 8px;
      border: 0.5px solid #d9d9d9;
      border-radius: 20%;
    }
    button {
      background-color: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .close-button {
    width: 24px;
    cursor: pointer;
  }
}
