@import "../abstracts/mixins.scss";
@import "../abstracts//variables";

header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  border-bottom: 1px solid #525252;
  background-color: #fff;
  width: 80%;
  padding: 8px 10%;
  @include respond-to($tablet) {
    justify-content: space-around;
  }
  @include respond-to($mobile) {
    justify-content: space-around;
    padding: 8px 2%;
    width: 100%;
  }
  .burger {
    display: none;
    background-color: transparent;
    border: none;

    @include respond-to($laptop) {
      display: block;
    }
  }

  .nav-main {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin: 0 1.5rem;
        list-style: none;

        &:hover {
          color: #989898;
        }
      }
    }
    @include respond-to($laptop) {
      display: none;
    }
  }

  .nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-button-container {
      position: relative;
      p {
        position: absolute;
        text-align: center;
        line-height: 18px;
        background-color: #ff0000;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 5px;
        right: 15px;
        z-index: 100;
        font-size: 12px;
        color: #fff;
      }
      .cart-button {
        display: block !important;
      }
      img {
        cursor: pointer;
        margin: 0 1rem;
        @include respond-to($laptop) {
          display: none;
        }
      }
    }
  }
}
