@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.payment-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  @include mix.respond-to(var.$tablet) {
    flex-direction: column;
    align-items: center;
  }
  .leftSection {
    width: 40%;
    padding: 24px;
    border: 0.5px solid #cecece;
    border-radius: 10px;
    @include mix.respond-to(var.$tablet) {
      width: 100%;
    }
    .item-wrapper {
      .item {
        margin: 16px 0;
        border-radius: 20px;
        padding: 16px;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        justify-content: space-around;
        img {
          width: 60px;
        }
        p {
          padding: 0 16px;
        }
        span {
          font-weight: 700;
        }
      }
    }

    .order-data {
      .data-wrapper {
        span {
          font-size: 14px;
          color: #545454;
        }
      }
      .shipment-wrapper {
        span {
          font-size: 14px;
          color: #545454;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .price-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-weight: 700;
        }
      }
    }
  }
  .RightSection {
    display: flex;
    flex-direction: column;
    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 340px;
      height: 190px;
      border-radius: 20px;
      background-color: #000;
      padding: 20px;
      .card-number {
        color: #fff;
        font-size: 18px;
      }
      div {
        display: flex;
        justify-content: space-between;
        .cardholder {
          color: #b7b7b7;
        }
      }
    }
    .payment-selector-wrapper {
      margin-bottom: 32px;

      button {
        margin-right: 32px;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000;
        cursor: pointer;
      }
    }
    .card-data {
      display: flex;
      flex-direction: column;

      input {
        margin: 8px 0;
        font-size: 14px;
        color: #000000;
        border: 0.5px solid #cecece;
        border-radius: 10px;
        padding: 16px;
      }
    }
  }
}
