.shipment-item {
  border: 1px solid #d1d1d8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin: 8px 0;
  div {
    display: flex;
    align-items: center;
    input[type="radio"] {
      width: 24px;
      height: 24px;

      &:checked {
        accent-color: #000;
      }
    }
    span {
      margin: 16px;
    }
  }
}
